// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Minimal U-Boot device tree for FriendlyElec NanoPi M6
 * Based on Armbian's rk3588s-nanopi-m6.dts
 * Stripped down for Collabora U-Boot fork compatibility (v2023.07)
 *
 * Key differences from Rock 5A:
 *   - LEDs: GPIO1_A4 (sys_led), GPIO1_A6 (user_led)
 *   - Ethernet: tx_delay 0x42 (vs 0x3a on Rock5A)
 *   - SD card: Different CD GPIO and power control
 *   - Ethernet PHY reset: Same GPIO as Rock5A (GPIO3_B7)
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3588s.dtsi"

/ {
	model = "FriendlyElec NanoPi M6";
	compatible = "friendlyelec,nanopi-m6", "rockchip,rk3588s";

	aliases {
		ethernet0 = &gmac1;
		mmc0 = &sdhci;
		mmc1 = &sdmmc;
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial2:1500000n8";
	};

	leds {
		compatible = "gpio-leds";

		sys_led: led-0 {
			label = "sys_led";
			gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			pinctrl-names = "default";
			pinctrl-0 = <&sys_led_pin>;
		};

		user_led: led-1 {
			label = "user_led";
			gpios = <&gpio1 RK_PA6 GPIO_ACTIVE_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&user_led_pin>;
		};
	};

	/* Fixed regulator for SD card power */
	vcc_3v3_sd_s0: regulator-vcc-3v3-sd-s0 {
		compatible = "regulator-fixed";
		enable-active-high;
		gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd_s0_pwr>;
		regulator-name = "vcc_3v3_sd_s0";
		regulator-boot-on;
		regulator-max-microvolt = <3000000>;
		regulator-min-microvolt = <3000000>;
	};
};

/* Gigabit Ethernet - RTL8211F PHY */
&gmac1 {
	clock_in_out = "output";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-rxid";
	pinctrl-0 = <&gmac1_miim
		     &gmac1_tx_bus2
		     &gmac1_rx_bus2
		     &gmac1_rgmii_clk
		     &gmac1_rgmii_bus>;
	pinctrl-names = "default";
	tx_delay = <0x42>;
	status = "okay";
};

&mdio1 {
	rgmii_phy1: ethernet-phy@1 {
		/* RTL8211F */
		compatible = "ethernet-phy-id001c.c916";
		reg = <0x1>;
		pinctrl-names = "default";
		pinctrl-0 = <&rtl8211f_rst>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	};
};

&pinctrl {
	gpio-leds {
		sys_led_pin: sys-led-pin {
			rockchip,pins =
				<1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		user_led_pin: user-led-pin {
			rockchip,pins =
				<1 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	rtl8211f {
		rtl8211f_rst: rtl8211f-rst {
			rockchip,pins = <3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdmmc {
		sd_s0_pwr: sd-s0-pwr {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

/* SD card slot */
&sdmmc {
	bus-width = <4>;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	disable-wp;
	max-frequency = <150000000>;
	no-mmc;
	no-sdio;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_sd_s0>;
	status = "okay";
};

/* eMMC */
&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	status = "okay";
};

/* Debug UART */
&uart2 {
	pinctrl-0 = <&uart2m0_xfer>;
	status = "okay";
};
